@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: none;
  padding: none;
}

body {
  background-color: #18181b;
  color: white;
}

.pink-gradient {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.scale0 {
  transform: scaleY(0);
  transform-origin: top;
  transition: all 100ms ease-out;
}
